@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

.main {
  // background: linear-gradient(to bottom, rgb(244, 174, 238),  #a804ab, #15061c);
  // background-color: rgb(18, 2, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/stars.png);
  background-color: rgba(18, 2, 18, 10);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);

  .section1 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 4rem;
    text-align: left;
    height: auto;
    font-family: "Dancing Script", cursive;

    .aboutme {
      width: 60%;
      transition: all 0.5s;

      h2 {
        font-size: 3rem;
        color: #415fc1;
        font-weight: 500;
        margin-bottom: 2rem;
        font-family: "Dancing Script", cursive;
        letter-spacing: 0.3rem;
        text-shadow: 1px 1px 3px rgba(212, 243, 78, 0.999);
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: rgb(164, 164, 251);
        font-weight: 500;
      }

      .additional {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: rgba(204, 204, 206, 0.879);
        font-weight: 500;
      }
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: rgba(213, 208, 208, 0.804);
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.5rem;
          color: rgb(56, 56, 241);
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          background-color: white;
        }
      }

      &:hover {
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
      }
    }

    img {
      max-width: 40%;
      height: 25rem;
      margin-right: -5rem;
      border-radius: 20px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .section2 {
    padding: 40px;
    margin: 4rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      color: #4b69cc;
      letter-spacing: 0.3rem;
      text-shadow: 1px 1px 3px rgba(212, 243, 78, 0.999);
      margin: 2rem;
      font-family: "Dancing Script", cursive;
      letter-spacing: 0.3rem;
    }

    .box1 {
      display: flex;
      flex-direction: column;
      background-color: rgba(227, 227, 228, 0.9);
      border-radius: 20px;
      color: #2b2b2b;
      padding: 20px;
      text-align: center;
      border-radius: 20px;
      margin: 1rem 0.6rem 2rem;
      height: 250px;
      width: 550px;
      margin: 3rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      &:hover {
        box-shadow: 2px 4px 8px rgba(174, 173, 173, 0.9);
      }

      h3 {
        font-size: 1.5rem;
        color: #3453bb;
        margin: 1rem;
        text-align: center;
      }

      .technology {
        display: flex;
        justify-content: flex-end;

        img {
          margin: 0 0.5rem;
          margin-top: 2rem;
          height: 2rem;
          width: 2rem;
          border: 1px solid white;
          border-radius: 50%;
          background-color: rgb(242, 246, 8);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .section1 {
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100vw;

      .aboutme {
        width: 100vw;

        h2 {
          font-size: 2.5rem;
          margin-bottom: 2 rem;
          width: 30vw;
          text-wrap: nowrap;
          margin-left: 3rem;
          margin-top: -2rem;
        }

        h3 {
          font-size: 1.2rem;
          margin: 1.5rem;
          width: 80vw;
        }

        p {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }

        .additional {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }

        svg {
          margin-top: 1rem;
          margin-left: 5rem;
        }
      }

      img {
        display: none;
      }
    }

    .section2 {
      margin-top: -4rem;
      .box1 {
        width: 100%;
        margin: 3rem auto 2rem;
        height: 265px;
      }
    }
  }
}

@media screen and (max-width: 524px) {
  .main {
    .section1 {
      .aboutme {
        h3 {
          font-size: 1.2rem;
          margin: 2rem;

          svg {
            margin-right: 1rem;
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }

    .section2 {
      .box1 {
        height: 300px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main {
    height: auto;
    .section1 {
      .aboutme {
        h3 {
          font-size: 1.2rem;
          margin: 2rem;
        }
      }
    }

    .section2 {
      height: auto;
      .box1 {
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .main {
    height: auto;
    overflow: hidden;
    .section1 {
      height: auto;
      .aboutme {
        h2 {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 1rem;
        }

        p {
          font-size: 1rem;
        }
        h3 {
          font-size: 1.2rem;
          margin: 2rem;
        }
        svg {
          margin-left: 2rem;
        }
      }
    }

    .section2 {
      height: auto;
      .box1 {
        height: 285px;
        width: 90%;
        h3 {
          text-wrap: nowrap;
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
