@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(
      135deg,
      rgba(100, 100, 255, 0.3),
      rgba(255, 100, 100, 0.3)
    ),
    url('/public/mountains.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;

  .container1 {
    background: rgba(255, 255, 255, 0.01); /* Semi-transparent white */
    border-radius: 1.5rem;
    padding: 2.5rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); /* Slightly less blur for a cleaner look */
    width: 90%;
    max-width: 1200px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    .socialMedia {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 2rem;

      a {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: transform 0.3s ease, filter 0.3s ease;

          &:hover {
            transform: scale(1.1);
            filter: brightness(1.2);
          }
        }
      }
    }

    .main-heading {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: rgb(90, 11, 95);
      font-family: 'Roboto', sans-serif;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

      @media screen and (min-width: 768px) {
        font-size: 3.5rem;
      }
    }

    .typewriter-wrapper {
      margin-bottom: 2rem;
    }

    .typewriterpara {
      color: rgb(75, 17, 79);
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 1.5rem;

      .button {
        padding: 12px 24px;
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        font-weight: 600;
        color: #fff;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        &.hire-button {
          background: linear-gradient(90deg, #48a5e4, #1e6798);
        }

        &.download-button {
          background: linear-gradient(90deg, #ff6f61, #ff3d5a);
        }
      }
    }
  }
}
