@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(248, 246, 246, 0.904);
  background-repeat: no-repeat;
  background-size: cover;

  &.light-on {
    background-image: url(/public/bg.jpg);
  }

  &.light-off {
    background-image: url(/public/bg\ Dark.jpg);
  }
}

.title {
  margin: 2rem 0;

  h1 {
    font-size: 2rem;
    font-family: 'Nothing You Could Do', cursive;
    color: rgb(253, 242, 220);
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 3px rgba(212, 243, 78, 0.999);
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
  }
  .btn {
    height: 2.2rem;
    font-size: 1rem;
    margin-bottom: -4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    width: 5.2rem;
    margin-left: 2rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.795);

    transition: all 1s;
    color: rgba(255, 255, 255, 0.823);
    &:hover {
      background-color: rgba(255, 64, 0, 0.956);
    }
  }
}

.box1 {
  display: flex;
  align-items: center;
  margin-top: -1rem;

  button {
    height: 2.2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    width: 5.2rem;
    margin: 0.5rem;
    border: 1px solid rgba(190, 186, 186, 0.337);
    transition: all 1s;
    color: rgba(255, 255, 255, 0.823);
    &:hover {
      background-color: rgba(255, 64, 0, 0.956);
    }
  }

  .box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65vw;
    height: 600px;
    margin: 2rem;
    padding: 1rem;
    background-color: #93939823;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;

    &:hover {
      box-shadow: 0 1px 5px rgba(192, 191, 191, 0.182);
    }

    h1 {
      font-size: 1.6rem;
      margin: 1.5rem;
      font-family: 'Dancing Script', cursive;
      color: rgb(253, 242, 220);
      letter-spacing: 0.3rem;
      text-shadow: 1px 1px 3px rgba(239, 132, 74, 0.892);
      font-weight: 100;
      text-align: center;
    }

    img {
      width: 600px;
      height: 350px;
      border-radius: 20px;
      margin: auto;
      margin-bottom: 1rem;
      display: block;
      object-fit: cover;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      text-align: center;
      font-family: 'Dancing Script', cursive;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.823);
      font-weight: 500;
    }

    a {
      text-decoration: none;
      color: #3498db;
      width: 8rem;
      font-weight: bold;
      font-size: 1rem;
      display: inline-block;
      margin: auto;

      &:hover {
        color: #2ecc71;
      }
    }
    text-align: center;
  }

  .visible {
    display: block;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 960px) {
  .box1 {
    display: flex;
    align-items: center;

    button {
      display: none;
    }

    .box2 {
      width: 85vw;
      height: 450px;
      margin: 2rem;
      padding: 1rem;

      img {
        width: 450px;
        height: 250px;
      }
    }
  }
}
@media (max-width: 760px) {
  .title {
    h1 {
      font-size: 2rem;
      margin: 1rem;
    }
    .btn {
      margin-left: 3rem;
    }
  }

  .box1 {
    display: flex;
    align-items: center;

    button {
      display: none;
    }

    .box2 {
      width: 85vw;
      height: 450px;
      margin: 2rem;
      padding: 1rem;

      h1 {
        font-size: 1.6rem;
        margin: 1.5rem;
      }

      img {
        width: 300px;
        height: 200px;
      }
    }
  }
}

@media (max-width: 300px) {
  .project-container {
    overflow: hidden;

    .box1 {
      // display: flex;
      // align-items: center;

      button {
        // display: none;
      }

      .box2 {
        width: 85vw;
        height: 350px;
        margin: 2rem;
        padding: 1rem;
        h1 {
          font-size: 1.2rem;
          text-wrap: nowrap;
        }

        img {
          width: 180px;
          height: 150px;
        }
        p {
          font-size: 0.8rem;
        }
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
