@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.animate-menu {
    transform-origin: var(--xposition) 38px;
}

.animatedHeading {
    width: fit-content;
    background-clip: text;
    background-image: linear-gradient(45deg,
            #09deff,
            #22d3ee,
            #3983f5,
            #0066ff);
    background-size: 150%;
    animation: customAnimation 2s ease-in-out 0s infinite alternate;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}

@keyframes customAnimation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}