@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
}
body{
    background-color: #D1D2D5;
    color: #4B69CC;
    
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    height: 100vh;
    scroll-snap-align: center;
}

.disbaleBtn{
    background-color: rgb(173, 169, 169) !important;
    cursor: not-allowed !important;
    color: rgb(24, 24, 24) !important;
}